<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${data.id ne null ? 'Edit Metereological Data' : 'Create Metereological Data'}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}" th:text="#{nav.title}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </div>
</nav>

<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center card">
                <h1 class="text-center">[[${data.id ne null ? 'Edit Metereological Data' : 'Create Metereological Data'}]]</h1>
                <div class="card-body text-center">
                    <form th:object="${data}" method="post">
                        <div class="form-group">
                            <label for="registerDate">Register Date</label>
                            <br>
                            <input type="date" id="registerDate" th:field="*{registryDate}" placeholder="Type the Registry date" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('registryDate')}" th:errors="*{registryDate}" class="invalid-feedback"></div>
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="temperature">Temperature</label>
                            <br>
                            <input type="text" id="temperature" th:field="*{temperature}" placeholder="Type the temperature" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('temperature')}" th:errors="*{temperature}" class="invalid-feedback"></div>
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <br>
                            <input type="text" id="latitude" th:field="*{lat}" placeholder="Type the Latitude" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('lat')}" th:errors="*{lat}" class="invalid-feedback"></div>
                        </div>

                        <br>

                        <br>

                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <br>
                            <input type="text" id="longitude" th:field="*{lon}" placeholder="Type the longitude" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('lon')}" th:errors="*{lon}" class="invalid-feedback"></div>
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="city">City</label>
                            <br>
                            <input type="text" id="city" th:field="*{city}" placeholder="Type the city" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalid-feedback"></div>
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="temperature">State</label>
                            <br>
                            <input type="text" id="state" th:field="*{state}" placeholder="Type the state" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="invalid-feedback"></div>
                        </div>
                        <br>
                        <div class="box-footer">
                            <button class="btn btn-success">Save</button>
                            <a th:href="@{/index}" class="btn btn-danger">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>