<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{title}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('international?lang=' + selectedOption);
        }
    });
});
</script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}" th:text="#{nav.title}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </div>
</nav>



    <div class="container">
        <div class="row">
            <h1 class="text-center">Registered Metereolgical Data</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/create}" class="btn btn-primary">Add Metereological Data</a>
            </div>
        </div>
        <br>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>Registry Date</th>
                <th>City</th>
                <th>State</th>
                <th>Temperature</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${datas}">
                <td th:text="${#temporals.format(data.registryDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${data.city}"></td>
                <td th:text="${data.state}"></td>
                <td th:text="${data.temperature}+'°F'"></td>
                <td th:text="${data.lat}"></td>
                <td th:text="${data.lon}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${data.id})}" class="btn btn-warning">Edit</a>
                    <a href="#" onclick="deleteComponent(this)" class="btn btn-danger">Delete</a>
                    <form th:action="@{/delete/{id}(id=${data.id})}" method="post"></form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

<script>
    function deleteComponent(component)
    {
        let ok = confirm('Do you want to delete this element?');

        if(ok)
        component.nextElementSibling.submit();
    }
</script>

</body>
</html>